<aside class="w-full md:w-64 bg-gray-900 text-white p-5 min-h-screen">
    <h1 class="text-xl font-bold">Administrador de KPI</h1>
    <nav class="mt-5">
        <ul>
            <li class="p-2 hover:bg-gray-700 cursor-pointer">
                <a href="../index.html">📊 Dashboard</a>
            </li>

            <li class="p-2 hover:bg-gray-700 cursor-pointer">
                <a href="/pages/instancias.html">⚙️ Instancias</a>
            </li>
           <!--   <li id="adminMenu" class="p-2 hover:bg-gray-700 cursor-pointer">
                <span>⚙️ Administrador</span>
                <ul id="subAdminMenu" class="ml-4 mt-2 hidden">
                    <li class="p-2 hover:bg-gray-700 cursor-pointer">
                        <a href="/pages/admin_macro.html">📌 KPI Macro</a>
                    </li>
                    <li class="p-2 hover:bg-gray-700 cursor-pointer">
                        <a href="/pages/admin_detalles.htm">📌 KPI Detalle</a>
                    </li>
                </ul>
            </li>
            <li class="p-2 hover:bg-gray-700 cursor-pointer">📁 Reportes</li>
            <li class="p-2 hover:bg-gray-700 cursor-pointer">⚙️ Configuración</li> -->
        </ul>
    </nav>
</aside>
